@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
 --main-bg-color: #f4f5f6;
 --item-bg-color: #f6f6f6;
 --item-bg-color-dark: #ededed; 
 --heading-font-color: #858585;
 --text-font-color: #919193;
 --dark-bg-color: #fff;
 --text-font-color-light: #939191bd;
 --radius: 10px;
}

main{
  background-color: #F4F5F6;
  /* background-color: red; */
  padding: 4rem 2rem;
}